@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        /* border: 1px solid black; */
    }

    body {
        @apply font-comforta
    }

    .shadow-intervaless-button {
        box-shadow: 17px 17px 0px -1px rgba(0, 0, 0, 0.78);
        -webkit-box-shadow: 8px 8px 0px -1px rgba(0, 0, 0, 0.78);
        -moz-box-shadow: 17px 17px 0px -1px rgba(0, 0, 0, 0.78);
    }

    .shadow-intervaless-button-active {
        box-shadow: 17px 17px 0px -1px rgba(0, 0, 0, 0.78);
        -webkit-box-shadow: 2.5px 2.5px 0px -1px rgba(0, 0, 0, 0.78);
        -moz-box-shadow: 17px 17px 0px -1px rgba(0, 0, 0, 0.78);
    }

    .link-underline {
        border-bottom-width: 0;
        background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
        background-size: 0 3px;
        background-position: 0 100%;
        background-repeat: no-repeat;
        transition: background-size .4s ease-in-out;
    }

    .link-underline-black {
        background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(11, 10, 11), rgb(0, 0, 0))
    }

    .link-underline:hover {
        background-size: 100% 3px;
        background-position: 0 100%
    }
}